\packages
\bin
\obj
*.suo
UpgradeLog*.htm
src/GTR.AzureMobileApp/Properties/PublishProfiles/GTR.AzureApp(Default-Web-SouthCentralUS).pubxml.user
src/GTR.AzureMobileApp/Properties/PublishProfiles/tiberdev.pubxml
src/GTR.AzureMobileApp/Properties/PublishProfiles/tiberdev.pubxml.user
src/GTR.AzureMobileApp/Properties/PublishProfiles/GTR.AzureApp(Default-Web-SouthCentralUS).pubxml
src/GTR.Database/GTR.Database.publish-prod.xml
